<% @errors && @errors.each do |m| %>
    <li><%= m %></li>
<% end %>

<%= form_for @note do |f| %>
    <%= f.label "Title: " %>
    <%= f.text_field :title %>
    <%= f.label "Content: " %>
    <%= f.text_area :content %>
    <%= f.label "Project: " %>
    <%= f.collection_select :project_id, Project.all, :id, :name %>
    <%= f.submit %>
<% end %>