<h1><%= @user.to_s %>'s Profile</h1>

<br>
<br>

<h4>Username: <%= @user.username %></h4><br>
<h4>Email: <%= @user.email %><br><br>

<% @projects.each do |p| %>
    <h4>Projects: <%= link_to p.name, user_project_path(@user, p) %></h4>
<% end %>

<br>
<br>


    <% if current_user == @user %>

    <%= link_to "Edit Profile", edit_user_path(@user) %><br><br>

    <%= button_to "Delete Profile", @user, method: :delete, data: {confirm: "Deleting this profile will permanantly delete all associated information and projects. Are you sure you would like to delete this profile?"} %>

    <% end %>