<% @errors && @errors.each do |m| %>
    <li><%= m %></li>
<% end %>

<%= form_for @project do |f| %>
    <%= f.label "Name: " %>
    <%= f.text_field :name %><br><br>
    <%= f.label "Technique Used: " %>
    <%= f.text_field :technique_used %><br><br>
    <%= f.label "Material Used: " %>
    <%= f.text_field :material_used %><br><br>
    <%= f.label "Discipline: " %>
    <%= f.collection_select :discipline_id, Discipline.all, :id, :kind %><br><br>
    <h2>Notes About This Project</h2>
    <%= f.fields_for :notes do |n| %>
        <%= n.label "Title: " %>
        <%= n.text_field :title %>
        <%= n.label "Content: " %>
        <%= n.text_area :content %>
    <% end %>
    <%= f.submit %>
<% end %>