<!DOCTYPE html>
<html>
  <head>
    <title>TheBuild070620</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= link_to "Log In", login_path %>
  <%= link_to "Sign Up", signup_path %>
  <%= link_to "Disciplines", disciplines_path %>
  <%= link_to "Projects" , projects_path %>
  <br>
  <br>
    <%= yield %>
  </body>
</html>
