<!DOCTYPE html>
<html>
  <head>
    <title>TheBuild070620</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= link_to "Disciplines", disciplines_path %> | <%= link_to "Projects" , projects_path %> | <%= link_to "Create a Project", new_project_path %> | <%= link_to "My Projects", user_projects_path(current_user) %> | <%= link_to "My Home", user_path(current_user) %>  | <%= link_to "Home", '/' %> | <%= link_to "Log out", logout_path, method: :post %>
  <br>
  <br>
    <%= yield %>
  </body>
</html>
